/* Main Section Nosotros*/

.nosotros {
    @include flex(row, space-between, center);
    background-image: linear-gradient(to right, black, grey);
    gap: map-get($spacings, xlarge);
    align-items: center;
    padding: 0 2em;
    min-width: 250px;
    padding: 0px;

    p {
        font-size: 1.8em;
    }

}